!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Bem-vindo, #{@user.name}
    %p
      #{@body}
      Seu e-mail é: #{@user.email}.
      %br/
    %p Obrigado por utilizar a FEPB Store.