.row
  .columns.large-12.text-center
    %h1= t('views.user.edit.title')

= render 'form'

.row
  .columns.large-12
    = link_to t('views.application.show'), @user, class: 'button radius'
    = link_to t('views.application.back'), users_path, class: 'button radius'