.row
  .columns.large-12.text-center
    %h1= t('views.user.edit.title')

= render 'form'

%br
.row
  .columns.large-12.large-centered.text-center
    = link_to t('views.application.show'), @user, class: 'button radius'
    = link_to t('views.application.back'), @user	, class: 'button radius'