/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.product-box {
	border-radius: 5px; 
  border: 1px solid #c3c3c3;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
}

.product-thumb {
  border-radius: 5px; 
  border: 1px solid #c3c3c3;
  margin: 0px 20px 10px 0px; 
  padding: 10px;
}

.product-title, 
.product-sell-price {
  margin-bottom: 10px;
}

.product-cart > form {
	margin: 0px;
}

.product-thumb-container {    
    height:150px;    
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.product-thumb-container:before {      /* create a full-height inline block pseudo-element */
    content: ' ';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;
}

.product-thumb-container img {
    display: inline-block;
    vertical-align: middle;          /* vertical alignment of the inline element */
    font: 16px/1 Arial, sans-serif;  /* reset the font property */    
    height:150px;    
    padding: 5px;
    border: 0px solid black;
}