/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

div.sale-row {
  padding: 20px;

  a {
    color: #111;
    font-size: 16px;
  }
}

div.sale-text {
	a, a:active, a:visited, a:focus, a:hover {
    color: #FFF;
    font-size: 16px !important;
  }
}

.sale-header {
  background-color: #ECECEC;
}


div.history-details {
  td { 
    a, a:active, a:visited, a:focus, a:hover { 
      color: #000 !important;
    }
  }
}

table.responsive {
  width: 100%;
}
