.my-account-link {
  display: inline;

  > img {
    height: 40px;
    margin-left: 10px;
  }
}

.top-bar {
  height: 5em !important;

  a, a:active, a:hover, a:visited {
    color: #FFF;
  }
}

.top-bar-section ul li > a {
  // font-size: 1em;
}

nav.top-bar > section > ul {
	// background-color: #333;
}

nav.top-bar > ul.title-area > li, 
nav.top-bar > section > ul > li {
  padding: 1em;
}

nav.top-bar > section > ul > li > a {
  // padding: 30px;
}

.top-bar-section .has-dropdown > a:after {
	margin-top: 1em !important;
  margin-right: 2.5em !important;
}