.my-account-link {
  display: inline;

  > img {
    height: 35px;
    margin-left: 10px;
    width: 35px;
  }
}

.top-bar {
  height: 100%;

  a, a:active, a:hover, a:visited {
    color: #FFF;    
    font-size: 16px;
  }

  li {
    font-size: 16px; 
  }
}

.top-bar-section ul li > a {
  font-size: 16px;
}

nav.top-bar > section > ul {
	background-color: #111;
}

nav.top-bar > ul.title-area > li, 
nav.top-bar > section > ul > li {
  padding: 10px;
}

nav.top-bar > section > ul > li > a {
  padding: 30px;
}

.top-bar-section .has-dropdown > a:after {
	margin-top: 7px;
}