/ Footer
%footer.footer
  .row.full-width
    .small-12.medium-3.large-4.columns
      %i.fi-laptop
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!
    .small-12.medium-3.large-4.columns
      %i.fi-html5
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!
    .small-6.medium-3.large-2.columns
      %h4 Work With Me
      %ul.footer-links
        %li
          %a{:href => "#"} What I Do
        %li
          %a{:href => "#"} Pricing
        %li
          %a{:href => "#"} Events
        %li
          %a{:href => "#"} Blog
        %li
          %a{:href => "#"} FAQ's
        %ul
    .small-6.medium-3.large-2.columns
      %h4 Redes sociais
      %ul.footer-links
        %li
          =link_to 'FEPB', "fepb.org.br/", target: '_blank'
        %li
          =link_to 'Facebook', "https://www.facebook.com/FESPB", target: '_blank'
        %li
          =link_to 'Rede amigo espírita', "http://www.redeamigoespirita.com.br/page/fepb-tv", target: '_blank'          
        %li
          =link_to 'FEPB TV', "https://www.facebook.com/FESPB", target: '_blank'
        %li
          =link_to 'Twitter TV DO BEM', "https://twitter.com/decomfepb", target: '_blank'
        %li
          =link_to 'Twitter DECOM FEPB', "https://twitter.com/fepbtv", target: '_blank'
        %ul