.row{style: 'margin-top: 10px;'}
  .large-12.large-centered.text-center
    - flash.each do |key, message|
      - if message.is_a?(String) && message.present?
        #messages.alert-box.success.radius.columns.small-12.small-centered{'data-alert' => '', class: key}
          = simple_format(message)
          %a.close{href: '#'} &times;