.row
  .columns.small-8.large-12.text-center
    %h2#modalTitle Quem está comprando esses itens?
.row
  .columns.small-8.large-12.text-left
    = form_tag finalize_sale_path, method: :post do
      / = label_tag t('views.sale.customer_name')
      = text_field_tag :customer_name, nil,  placeholder: t('views.sale.customer_name')
      .row
        .columns.small-8.large-12.text-center
          = submit_tag t('views.sale.finalize'), class: 'button radius alert'